{% extends 'frontend/layout.html.twig' %}

{% block content %}
    <!-- page-banner-section
			================================================== -->
    <section class="page-banner-section">
        <div class="container">
            <h1>{{ author.getTitle() }}</h1>
            <ul class="page-depth">
                <li><a href="{{ path('index') }}">Главная</a></li>
                <li><a href="{{ path('about-author', { slug: author.getSlug() }) }}">{{ author.getTitle() }}</a></li>
            </ul>
        </div>
    </section>
    <!-- End page-banner-section -->
    <!-- teachers-section
			================================================== -->
    <section class="teachers-section">
        <div class="container">
            <div class="teachers-box">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="profile-image">
                            <div class="image-holder">
                                <img src="{{ ['/uploads/author/', author.getImage()]|join('') }}" alt="">
                            </div>

                            <ul class="social-links">
                                <li><a href="#" class="facebook"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="profile-details">
                            <h1>Краткое описание</h1>
                            <p>{{ author.getPreview() }}</p>
                        </div>
                    </div>
                </div>

                <div class="teacher-content">
                    <h1>Биография</h1>
                    {{ author.getDescription() }}
                </div>

            </div>
        </div>
    </section>
    <!-- End teachers section -->
{% endblock %}