{% extends 'frontend/layout.html.twig' %}

{% block content %}
    <!-- page-banner-section
			================================================== -->
    <section class="page-banner-section">
        <div class="container">
            <h1>{{ title }}</h1>
            <ul class="page-depth">
                <li><a href="{{ path('index') }}">Главная</a></li>
                <li><a href="{{ path('authors') }}">{{ title }}</a></li>
            </ul>
        </div>
    </section>
    <!-- End page-banner-section -->
    <!-- teachers-section
			================================================== -->
    <section class="teachers-section">
        <div class="container">
            <div class="teachers-box">
                {% for author in authors %}
                    {% if (loop.index % 4 == 1) %}
                        <div class="row">
                    {% endif %}
                    <div class="col-lg-3 col-md-6">
                        <div class="teacher-post">
                            <a href="{{ path('author', { slug: author.getSlug() }) }}">
                                <img src="{{ author.getImage() ? ['uploads/author/', author.getImage()]|join(''): '/upload/teachers/teacher6.jpg' }}"
                                     alt="">
                                <div class="hover-post">
                                    <h2>{{ author.getTitle() }}</h2>
                                    <span>{{ author.getSubject() }}</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% if (loop.index % 4 == 1 and loop.index>1) %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End teachers section -->
{% endblock %}