{% block categories %}
    <section class="collection-section">
        <div class="container">
            <div class="title-section">
                <div class="left-part">
                    <span>Branches</span>
                    {% set categories = pageManager.getCategoryManager().getItems() %}
                    {% set category = categories.current() %}
                    <h1>{{ category.getTitle() }}</h1>
                </div>
                <div class="right-part">
                    <a class="button-one" href="{{ path('category', { slug: category.getSlug() }) }}">Все</a>
                </div>
            </div>
            <div class="collection-box">
                <div class="row">
                    {% for category in categories %}
                    {% if loop.index == 1 %}
                        <div class="col-lg-6 col-md-12">
                            <div class="collection-post">
                                <div class="inner-collection">
                                    <img src="{{ category.getImage() ? ['uploads/category/', category.getImage()]|join(''): 'upload/collection/web-development.jpg' }}"
                                         alt="">
                                    <a href="{{ path('category', { slug: category.slug }) }}" class="hover-post">
                                        <span class="title">{{ category.getTitle() }}</span>
                                        <span class="numb-courses">{{ category.getProducts().count() }} курсов</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if (loop.index == 2 or loop.index == 4) %}
                        <div class="col-lg-3 col-md-6">
                        <div class="collection-post">
                            <div class="inner-collection">
                                <img src="{{ category.getImage() ? ['uploads/category/', category.getImage()]|join(''): 'upload/collection/web-development.jpg' }}"
                                     alt="">
                                <a href="{{ path('category', { slug: category.slug }) }}" class="hover-post">
                                    <span class="title">{{ category.getTitle() }}</span>
                                    <span class="numb-courses">{{ category.getProducts().count() }} курсов</span>
                                </a>
                            </div>
                        </div>
                        {% if (loop.length == 2 or loop.length == 4) %}
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if (loop.index == 3 or loop.index==5) %}
                    <div class="collection-post">
                        <div class="inner-collection">
                            <img src="{{ category.getImage() ? ['uploads/category/', category.getImage()]|join(''): 'upload/collection/web-development.jpg' }}"
                                 alt="">
                            <a href="{{ path('category', { slug: category.getSlug() }) }}" class="hover-post">
                                <span class="title">{{ category.getTitle() }}</span>
                                <span class="numb-courses">{{ category.getProducts().count() }} курсов</span>
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        </div>
    </section>
{% endblock %}