{% extends 'frontend/page.html.twig' %}
{% block title %}Популярные курсы{% endblock %}
{% block breadcrumbs %}
    <ul class="page-depth">
        <li><a href="{{ path('index') }}">Home</a></li>
        <li><a href="{{ path('popular-products') }}">Popular courses</a></li>
    </ul>
{% endblock %}
{% block page_content %}
    <div class="courses-top-bar">
        <div class="courses-view">
            <a href="{{ path('popular-products') }}" class="grid-btn">
                <i class="fa fa-th-large" aria-hidden="true"></i>
            </a>
            <a href="{{ path('popular-products-list') }}" class="grid-btn active">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </a>
            <span>Searched {{ products|length }} courses</span>
        </div>
        <form class="search-course">
            <input type="search" name="search" id="search_course" placeholder="Search Courses..."/>
            <button type="submit">
                <i class="material-icons">search</i>
            </button>
        </form>
    </div>

    {% for product in products %}
        {{ block("listItem", "product/list-item.html.twig") }}
    {% endfor %}
{% endblock %}