{% extends 'frontend/layout.html.twig' %}

{% block content %}
    <!-- page-banner-section
			================================================== -->
    <section class="page-banner-section">
        <div class="container">
            <h1>{{ product.getTitle() }}</h1>
            <ul class="page-depth">
                <li><a href="{{ path('index') }}">Главная</a></li>
                <li><a href="{{ path('product', { slug: product.getSlug() }) }}">{{ product.getTitle() }}</a></li>
            </ul>
        </div>
    </section>
    <!-- End page-banner-section -->
    <!-- single-course section
			================================================== -->
    <section class="single-course-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">

                    <div class="single-course-box">

                        <!-- single top part -->
                        <div class="product-single-top-part">
                            <div class="product-info-before-gallery">
                                <div class="course-author before-gallery-unit">
                                    <div class="icon">
                                        <i class="material-icons">account_box</i>
                                    </div>
                                    <div class="info">
                                        <span class="label">Teacher</span>
                                        <div class="value">
                                            <a href="{{ path('author', { slug: product.getAuthor().getSlug() }) }}">{{ product.getAuthor().getTitle() }}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="course-category before-gallery-unit">
                                    <div class="icon">
                                        <i class="material-icons">bookmark_border</i>
                                    </div>
                                    <div class="info">
                                        <span class="label">Раздел</span>
                                        <div class="value">
                                            <a href="{{ path('category', { slug: product.getCategory().getSlug() }) }}">{{ product.getCategory().getTitle() }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="course-rating before-gallery-unit">
                                    <div class="star-rating has-ratings">
                                        <span class="rating">Нет голосов</span>
                                    </div>
                                </div>
                            </div>
                            <div class="course-single-gallery">
                                <img src="{{ ['/uploads/files/', product.getImage()]|join('') }}" alt="">
                            </div>

                        </div>

                        <!-- single course content -->
                        <div class="single-course-content">
                            {{ product.getDescription() }}
                        </div>
                        <!-- end single course content -->
                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="widget course-widget">
                            <p class="price">
                                <span class="price-label">Цена</span>
                                <span class="amount">£{{ product.getPrice()|number_format(0) }}</span>
                            </p>
                            <a class="button-one" href="#">Купить</a>
                            <ul class="share-list">
                                <li><span>Поделиться:</span></li>
                                <li><a href="#" class="facebook"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="widget profile-widget">
                            <div class="top-part">
                                <img src="{{ ['/uploads/author/', product.getAuthor().getImage()]|join('') }}"
                                     alt="{{ product.getAuthor().getTitle() }}">
                                <div class="name">
                                    <h3>{{ product.getAuthor().getTitle() }}</h3>
                                    <span class="job-title">{{ product.getAuthor().getSubject() }}</span>
                                </div>
                            </div>
                            <div class="content">
                                <p>{{ product.getAuthor().getPreview() }}</p>
                                <a href="{{ path('about-author', { slug: product.getAuthor().getSlug() }) }}"
                                   class="text-link">Просмотреть</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End single-course section -->
{% endblock %}