{% extends 'base.html.twig' %}
{% block body %}
    <h1>Upload a product</h1>
    <p><b>{{ message }}</b></p>
    {{ form(form) }}
    <script src="{{ asset('js/upload-change.js') }}"></script>

    {% if path %}
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                window.parent.document.getElementById('Product_image').setAttribute('value', '{{ path }}');
                let parts = '{{ path }}'.split('/');
                window.parent.document.getElementById('file_label').innerHTML = parts[parts.length - 1];
            })
        </script>
    {% endif %}
{% endblock %}

