{% extends 'base.html.twig' %}
{% block body %}
    <h1>Upload a product</h1>
    <p><b>{{ message }}</b></p>
    {{ form(form) }}
    <script src="{{ asset('js/upload-change.js') }}"></script>

    {% if path %}
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                window.parent.document.getElementById('Product_image').setAttribute('value', '{{ path }}');
                let parts = '{{ path }}'.split('/');
                let filename = parts[parts.length - 1];
                window.parent.document.getElementById('file_label').innerHTML = filename;
                let inputGroup = window.parent.document.getElementById('Product_image').closest('.input-group');
                let productImage = window.parent.document.getElementById('product_image');
                if (productImage == undefined) {
                    let img = window.parent.document.createElement('img');
                    img.setAttribute('src', `/uploads/files/${filename}`);
                    img.setAttribute('id', 'product_image');
                    inputGroup.after(img);
                } else {
                    productImage.setAttribute('src', `/uploads/files/${filename}`);
                }
            });
        </script>
    {% endif %}
{% endblock %}

