{% extends 'frontend/layout.html.twig' %}
{% block title %}{{ news.getTitle() }}{% endblock %}
{% block content %}
    <!-- page-banner-section
			================================================== -->
    <section class="page-banner-section">
        <div class="container">
            <h1>{{ news.getTitle() }}</h1>
            <ul class="page-depth">
                <li><a href="{{ path('index') }}">Home</a></li>
                <li><a href="{{ path('newsList') }}">News</a></li>
                <li><a href="{{ path('news', { slug: news.getSlug() }) }}">{{ news.getTitle() }}</a></li>
            </ul>
        </div>
    </section>
    <!-- End page-banner-section -->
    <!-- blog-section
			================================================== -->
    <section class="blog-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-7">

                    <div class="blog-box">
                        <div class="blog-post single-post">
                            <div class="post-content">
                                <h1>{{ news.getTitle() }}</h1>
                                <div class="post-meta date">
                                    <i class="material-icons">access_time</i>{{ news.getStartsAt()|date("F d, Y") }}
                                </div>
                            </div>
                            <a href="{{ path('news', { slug: news.getSlug() }) }}"><img
                                        src="{{ ['/uploads/news/', news.getImage()]|join('') }}" alt=""></a>
                            <div class="post-content">
                                {{ news.getDescription()|raw }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-5">
                    <div class="sidebar">
                        <div class="search-widget widget">
                            <form class="search-form">
                                <input type="search" class="search-field" placeholder="Enter keyword...">
                                <button type="submit" class="search-submit">
                                    <i class="material-icons">search</i>
                                </button>
                            </form>
                        </div>
                        <div class="ads-widget widget">
                            <a href="#">
                                <img src="/upload/blog/ad-banner.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End blog section -->
{% endblock %}