{% extends 'frontend/layout.html.twig' %}

{% block content %}
    <!-- page-banner-section
			================================================== -->
    <section class="page-banner-section">
        <div class="container">
            <h1>{{ title }}</h1>
            <ul class="page-depth">
                <li><a href="{{ path('index') }}">Главная</a></li>
                <li><a href="{{ path('newsList') }}">{{ title }}</a></li>
            </ul>
        </div>
    </section>
    <!-- End page-banner-section -->
    <!-- blog-section
			================================================== -->
    <section class="blog-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">

                    <div class="blog-box">
                        {% for item in newsList %}
                        <div class="blog-post list-style">
                            <a href="{{ path('news', { slug: item.getSlug() }) }}"><img src="{{ ['/uploads/news/', item.getImage()]|join('') }}" alt=""></a>
                            <div class="post-content">
                                <h2><a href="{{ path('news', { slug: item.getSlug() }) }}">{{ item.getTitle() }}</a></h2>
                                {{ item.getPreview()|raw }}
                                <div class="post-meta date">
                                    <i class="material-icons">access_time</i> {{ item.getStartsAt()|date("F d, Y") }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="search-widget widget">
                            <form class="search-form">
                                <input type="search" class="search-field" placeholder="Enter keyword...">
                                <button type="submit" class="search-submit">
                                    <i class="material-icons">search</i>
                                </button>
                            </form>
                        </div>
                        <div class="ads-widget widget">
                            <a href="#">
                                <img src="/upload/blog/ad-banner.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End blog section -->
{% endblock %}