{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,500i,600,700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('css/studiare-assets.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts/font-awesome/font-awesome.min.css') }}"
          media="screen">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts/elegant-icons/style.css') }}" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts/iconfont/material-icons.css') }}" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <!-- Container -->
    <div id="container">
        <!-- Header
                ================================================== -->
        <header class="clearfix">

            <div class="top-line">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p><i class="material-icons">phone</i> <span>+01 2334 853</span></p>
                            <p><i class="material-icons">email</i> <span>email@mycourse.com</span></p>
                        </div>
                        <div class="col-md-6">
                            <div class="right-top-line">
                                <ul class="top-menu">
                                    <li><a href="about.html">О нас</a></li>
                                    <li><a href="{{ path('newsList') }}">Новости</a></li>
                                </ul>
                                <button class="search-icon">
                                    <i class="material-icons open-search">search</i>
                                    <i class="material-icons close-search">close</i>
                                </button>
                                {% if basket.getBasketItems() %}
                                    <button class="shop-icon" data-url="{{ path('basket') }}">
                                        <i class="material-icons">shopping_cart</i>
                                        <span class="studiare-cart-number">{{ basket.getBasketItems().count() }}</span>
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <form class="search_bar">
                <div class="container">
                    <input type="search" class="search-input" placeholder="Что Вы ищете...">
                    <button type="submit" class="submit">
                        <i class="material-icons">search</i>
                    </button>
                </div>
            </form>

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">

                    <a class="navbar-brand" href="{{ path('index') }}">
                        <img src="/images/logo.svg" alt="">
                    </a>

                    <a href="#" class="mobile-nav-toggle">
                        <span></span>
                    </a>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="drop-link">
                                <a class="active" href="{{ path('index') }}">Главная</a>
                            </li>
                            <li class="drop-link">
                                <a href="about.html">О нас <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown">
                                    <li><a href="about.html">О нас</a></li>
                                    <li><a href="{{ path('authors') }}">Преподаватели</a></li>
                                    <li><a href="{{ path('basket') }}">Корзина</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="{{ path('newsList') }}">Новости</a>
                            </li>
                            <li><a href="courses.html">Курсы</a>
                            </li>
                            <li><a href="{{ path('events') }}">События</a></li>
                            <li><a href="contact.html">Контакты</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="mobile-menu">
                <div class="search-form-box">
                    <form class="search-form">
                        <input type="search" class="search-field" placeholder="Введите ключевое слово...">
                        <button type="submit" class="search-submit">
                            <i class="material-icons open-search">search</i>
                        </button>
                    </form>
                </div>
                {% if basket.getBasketItems() %}
                    <div class="shopping-cart-box">
                        <a class="shop-icon" href="{{ path('basket') }}">
                            <i class="material-icons">shopping_cart</i>
                            Cart
                            <span class="studiare-cart-number">{{ basket.getBasketItems().count() }}</span>
                        </a>
                    </div>
                {% endif %}
                <nav class="mobile-nav">
                    <ul class="mobile-menu-list">
                        <li>
                            <a href="{{ path('index') }}">Главная</a>
                        </li>
                        <li class="drop-link">
                            <a href="#">О нас</a>
                            <ul class="drop-level">
                                <li><a href="about.html">О нас</a></li>
                                <li><a href="{{ path('authors') }}">Преподаватели</a></li>
                                <li><a href="{{ path('basket') }}">Корзина</a></li>
                                <li><a href="checkout.html">Заказ</a></li>
                            </ul>
                        </li>
                        <li class="drop-link">
                            <a href="{{ path('newsList') }}">Новости</a>
                        </li>
                        <li>
                            <a href="courses.html">Курсы</a>
                        </li>
                        <li>
                            <a href="{{ path('events') }}">События</a>
                        </li>
                        <li>
                            <a href="contact.html">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </header>
        <!-- End Header -->
        {% block breadcrumbs_content %}{% endblock %}
        <!-- footer
			================================================== -->
        {% block cart_section_header %}{% endblock %}
        {% block content %}{% endblock %}
        {% block cart_section_footer %}{% endblock %}
        <footer>
            <div class="container">

                <div class="up-footer">
                    <div class="row">

                        <div class="col-lg-4 col-md-6">
                            <div class="footer-widget text-widget">
                                <a href="{{ path('index') }}" class="footer-logo"><img src="/images/logo_light.svg"
                                                                                       alt=""></a>
                                <p>Лучшие курсы для быстрого и глубкого обучения представлены на нашем сайте.</p>
                                <ul>
                                    <li>
                                        <div class="contact-info-icon">
                                            <i class="material-icons">phone_android</i>
                                        </div>
                                        <div class="contact-info-value">+55-11-3097-0508</div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="footer-widget quick-widget">
                                <ul class="quick-list">
                                    <li><a href="contact.html">Контакты</a></li>
                                    <li><a href="about.html">О нас</a></li>
                                    <li><a href="courses.html">Курсы</a></li>
                                    <li><a href="{{ path('newsList') }}">Новости</a></li>
                                    <li><a href="{{ path('index') }}">Главная</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">

                        </div>

                    </div>
                </div>

            </div>

            <div class="footer-copyright copyrights-layout-default">
                <div class="container">
                    <div class="copyright-inner">
                        <div class="copyright-cell"> &copy; 2019 <span class="highlight">Serjstudio</span>. Создано
                            командой Serjstudio.
                        </div>
                        <div class="copyright-cell">
                            <ul class="studiare-social-links">
                                <li><a href="#" class="facebook"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        <!-- End footer -->
    </div>
    <!-- End Container -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/studiare-plugins.min.js') }}"></script>
    <script src="{{ asset('js/jquery.countTo.js') }}"></script>
    <script src="{{ asset('js/popper.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyCiqrIen8rWQrvJsu-7f4rOta0fmI5r2SI&amp;sensor=false&amp;language=en"></script>
    <script src="{{ asset('js/gmap3.min.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
    <script src="{{ asset('js/custom.js') }}"></script>
{% endblock %}