{% extends 'frontend/template.html.twig' %}
{% block sidebar_content %}
    <div class="category-widget widget">
        <h2>Разделы</h2>
        <ul class="category-list">
            {% for category in categories %}
                <li>
                    <a href="{{ path('category', { slug: category.getSlug() }) }}">{{ category.getTitle() }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if (popularProducts) %}
        <div class="products-widget widget">
            <h2>Популярные курсы</h2>
            <ul class="products-list">
                {% for product in popularProducts %}
                    <li>
                        <a href="{{ path('product', { slug: product.getSlug() }) }}"><img
                                    src="{{ ['/uploads/files/', product.getImage()]|join('') }}"
                                    alt=""></a>
                        <div class="list-content">
                            <h3>
                                <a href="{{ path('product', { slug: product.getSlug() }) }}">{{ product.getTitle() }}</a>
                            </h3>
                            <span>£{{ product.getPrice()|number_format(0) }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="ads-widget widget">
        <a href="#">
            <img src="upload/blog/ad-banner.jpg" alt="">
        </a>
    </div>
{% endblock %}
