{% extends 'frontend/orderForm.html.twig' %}
{% block title %}Оформить заказ{% endblock %}
{% block breadcrumbs %}
    <ul class="page-depth">
        <li><a href="{{ path('index') }}">Главная</a></li>
        <li><a href="{{ path('checkout') }}">Оформить заказ</a></li>
    </ul>
{% endblock %}
{% block page_content %}
    <div class="cart-box">
        {{ form_start(orderForm, {'action': path('checkout'), 'attr': {'class': 'billing-details'}}) }}
        {{ form_row(orderForm.email, {'label': 'Email*'}) }}
        {{ form_row(orderForm.telephone, {'label': 'Телефон'}) }}
        {{ form_row(orderForm.address, {'label': 'Адрес'}) }}
        {{ form_row(orderForm.submit, { 'label': 'Оформить' }) }}
        {{ form_end(orderForm) }}
    </div>
{% endblock %}